p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.texto1 {
    margin-bottom: 6px;
}

.dolar-text {
    font-size: 30px;
    margin-right: 7px;
}

.denomination {
    font-size: 15px;
    color: rgb(96, 96, 96);
}

.texto2 {
    font-size: 15px;
    margin-bottom: 6px;
}

.measure {
    color: green;
}

.texto3 {
    font-size: 15px;
}

.remember {
    color: rgb(96, 96, 96);
}

.upanddown {
    color: red;
}