p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tahoma-font {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}

.of1-font {
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}

.of2-font {
    font-family: Arial;
    font-style: italic;
    color: red;
    margin-bottom: 30px;
}

.title {
    font-family: Verdana;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 3px;
}

.subtitle {
    font-family: Verdana;
    color: rgb(96, 96, 96);
    font-size: 13px;
    margin-bottom: 15px;
}

.description {
    font-family: Verdana;
    font-size: 13px;
    width: 230px;
    line-height: 18px;
    margin-bottom: 20px;
}

.get-button {
    font-family: Verdana;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 15px 9px 15px;
    cursor: pointer;
    margin-bottom: 50px;
}

.text1 {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 17px;
}

.text2 {
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    margin-bottom: 17px;
}

.text3 {
    font-family: Arial;
    font-size: 13px;
    color: blue;
    text-align: center;
}