p {
    font-family: Arial;
    font-size: 15px;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(122, 67, 154);
}

.div-left {
    margin-left: 15px;
    margin-right: 20px;
}

.div-mid {
    flex: 1;
}

.div-right {
    margin-left: 130px;
    margin-right: 15px;
}

.text1 {
    color: white;
    font-weight: bold;
}

.buscar {
    margin: 0px 50px 0px 50px;
    border: none;
    border-radius: 20px;
    padding: 8px 0px 8px 15px;
    width: 100%;
}

.boton {
    color: white;
    border: solid;
    border-width: 1px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}