p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.thumbnail {
    width: 100%;
}

.search-bar {
    display: block;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.profile-picture {
    width: 45px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 13px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}