div {
    font-family: Arial;
}

.modelo {
    display: flex;
    width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.image {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.header-modelo {
    display: flex;
    margin-bottom: 4px;
}

.author {
    font-weight: bold;
    margin-right: 3px;
}

.author-label {
    color: grey;
}

.content {
    margin-bottom: 5px;
}

.preview {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.column-thumb {
    background-color: rgb(223, 223, 223);
    width: 100px;
    height: 100px;
}

.video-info-column {
    flex: 1;
    padding-left: 12px;
}

.website {
    color: grey;
    margin-bottom: 4px;
}