body {
    height: 3000px;
}

.container {
    position: fixed;
    background-color: grey;
    height: 180px;
    width: 320px;
    bottom: 20px;
    right: 20px;
}

.close-button {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: black;
    color: white;
    border-radius: 1000%;
    padding: 10px 13px 10px 13px;
    font-size: 16px;
    cursor: pointer;
}

.time {
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px 5px 3px 5px;
    bottom: 10px;
    right: 10px;
    font-size: 17px;
    font-family: Arial;
}