.uber-button{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    cursor: pointer;

    transition: opacity 0.1s;
}

.uber-button:hover {
    opacity: 0.85;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 35px;
    width: 170px;
    border-radius: 17px;
    cursor: pointer;

    transition: background-color 0.15s;
}

.amazon-button:hover {
    background-color: rgb(238, 199, 0);
}

.git-button{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;

    transition: box-shadow 0.15s;
}

.git-button:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.bootstrap1-button{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.15s;
}

.bootstrap1-button:hover {
    background-color: rgb(103, 69, 152);
}

.bootstrap2-button{
    background-color: white;
    color: rgb(108, 117, 125);
    border-style: solid;
    border-color: rgb(108, 117, 125);
    height: 40px;
    width: 110px;
    border-radius: 3px;
    border-width: 1px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.2s,
                color 0.2s;
}

.bootstrap2-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linkedIn1-button{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 40px;
    width: 210px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.15s;
}

.linkedIn1-button:hover {
    background-color: rgb(3, 66, 129);
}

.linkedIn2-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-style: solid;
    border-color: rgb(10, 102, 194);
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border-width: 1px;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.15s,
                border-width 0.1s;
}

.linkedIn2-button:hover {
    background-color: rgba(10, 102, 194, 0.1);
    border-width: 2px;
}