.link {
    color: rgb(0, 113, 133);
}

.link:hover {
    color: rgb(159, 103, 0);
}

.parrafo1 {
    font-size: 25px;
    font-weight: bold;
}

.parrafo2 {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.add-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    margin-right: 7px;
    cursor: pointer;

    transition: background-color 0.15s,
                opacity 0.15s;
}

.add-button:hover {
    background-color: rgb(238, 200, 13);
}

.add-button:active {
    opacity: 0.7;
}

.buy-button {
    background-color: rgb(255, 164, 28);
    color: black;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;

    transition: background-color 0.15s,
                opacity 0.15s;
}

.buy-button:hover {
    background-color: rgb(223, 143, 23);
}

.buy-button:active {
    opacity: 0.7;
}